<h1>Editing categories i18n</h1>

<%= render "form", categories_i18n: @categories_i18n %>

<br>

<div>
  <%= link_to "Show this categories i18n", @categories_i18n %> |
  <%= link_to "Back to categories i18ns", categories_i18ns_path %>
</div>
